<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Grinder Interface</title>
  </head>
  <body>
    <h1>Coffee Grinder Interface</h1>
    <h2>Current Match Status</h2>
      <p>Match status: {{status}}, Ball count: {{balls}}</p>
      <button onclick="location.href='/'">Reload</button>
    <h2>Set Match status</h2>
    <form id="set_status" action="/api/status_post" method="POST">
      <label for="dropdown">Please enter a number to upload:</label>
      <select id="dropdown" name="status" required>
	 <option value="0">INIT</option>
	 <option value="1">STARTED</option>
	 <option value="2">ENDED</option>
      </select>
      <button type="submit">Set Status</button>
    </form>

  </body>
</html>

